<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <!--jquery-->
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>

    <!--bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!--vue-->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>

</head>
<body class="container">
    <main id="fhir">
        <h1>FHIR Resource / {{resourceType}}</h1>
        <div class="row" style="border: 1px solid grey">
            <!--List of FHIR resource types-->
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li><a href="#" @click.prevent="changeResourceType('Patient')">Patient</a></li>
                    <li><a href="#" @click.prevent="changeResourceType('Location')">Location</a></li>
                    <li><a href="#" @click.prevent="changeResourceType('HealthcareService')">HealthcareService</a></li>
                    <li><a href="#" @click.prevent="changeResourceType('Practitioner')">Practitioner</a></li>
                </ul>
            </div>

            <!--List of resource-->
            <div class="col-md-6">
                <button class="btn btn-default pull-right" @click.prevent="createResource">Create new</button>
                <p v-if="resources.length == 0">There is no resource currently.</p>
                <table v-else class="table table-striped">
                    <tr><th>ID</th><th>Type</th><th>Name</th><th>Delete</th></tr>
                    <tr is="fhirResource" v-for="resource in resources" v-bind:model="resource"
                        v-on:deleteResource="deleteResource" v-on:viewResource="getResource" 
                        :key="resource.resourceType + resource.id"></tr>
                </table>                
            </div>

            <!--JSON structure of a resource-->
            <div class="col-md-4">               
                <fhir-resource-view v-bind:view-model="currentResourceModel" v-on:save="save" />
            </div>
        </div>
    </main>
    
    <script src="app.js"></script>    
</body>
</html>